<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products</h2>
<table>
  <tr>
    <th>SKU</th>
    <th>Product</th>
    <th>Price (USD)</th>
    <th>Price (EURO)</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.variants[0].sku %></td>
      <td><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></td>
      <td><%= product.variants[0].price %></td>
    </tr>
  <% end %>
</table>
