//stylesheet for Product table #product_table

#product_table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid black;

  th:nth-child(1){
    width: 40%;
  }
  th:nth-child(2){
    width: 30%
  }
  th:nth-child(3){
    width: 15%;
  }
  th:nth-child(4){
    width: 15%
  }
  th, td {
    border: 1px solid black;
  }
}
